.messenger{
    height: calc(100vh-70px);
    display: flex;
    width: 100%;

}
.chatMenu{
    flex:3.5;
}
.chatBox{
    flex:5.5;
}
.chatOnline{
    flex:3;
}

.chatMenuWrapper, .chatBoxWrapper, .chatOnlineWrapper{
    padding:10px;
    height: 100%;

}

.chatMenuInputs{
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid grey;
}